body {
	font-family: Arial, sans-serif;
	background-color: #2d303e;
	color: #f2f2f2;
}
a, a:visited, a:hover {
	color: #bd93f9;
}

hr {
	border-top: 1px solid #bd93f9;
}

.page-header {
	margin-bottom: 0px;
}
.page-header img {
	height: 90px;
}

.navbar {
	background-color: #373A47;
	border: 0;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.navbar-default .navbar-nav>li.active>a, .navbar-default .navbar-nav>li.active>a:focus, .navbar-default .navbar-nav>li.active>a:hover {
	color: #555
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.navbar-info li {
	color: #A3A4AA;
	font-weight: bold;
	text-align: center;
	height: 70px;
	padding: 10px 10px;
	background-color: #f8f8f8;
}

.navbar-info > li > a {
	display: inline;
}

.glyphicon {
	color: #631547;
	padding-right: 4px;
}

.jumbotron {
	background-size: cover;
	background-position: center;
	color: white;
}

.jumbotron-tour {
	background-image: url(../img/thornhill-greenhouse.jpg);
	background-position: 80% 10%;
}
.jumbotron-socialmedia {
	background-image: url(../img/social-media.jpg);
	background-position: 20% 50%;
}
.jumbotron-faq {
	background-image: url(../img/nevermore-gates.jpg);
	background-position: bottom;
}
.jumbotron-minecraft {
	background-image: url(../img/nevermore-minecraft.jpg);
	background-position: bottom;
}

.jumbotron .container {
	height: 100%;
	width: 100%;
	background-color: rgba(20,20,20,0.5);
}

.jumbotron h1, .jumbotron h2 {
	font-weight: 300;
}

.container.tour h2 {
	border-bottom: 1px solid #bd93f9;
	border-top: 1px solid #bd93f9;
	margin: 2em auto;
	padding: 0.5em;
	text-align: center;
	width: 80%;
}
.container.tour h3, .container.tour h4 {
	text-align: center;
}

.container.tour p.window {
	text-align: center;
}
.container.tour p.window img {
	margin: 2px;
	height: 264px;
}

.container.faq h2 {
	margin-top: 2em;
}

.container.staff {
	padding: 0px;
}

.container.staff iframe {
	display: block;
	height: 85vh;
	width: 110%;
	margin: 0 -10px;
}

.container.main iframe {
	display: block;
	height: 65vh;
	width: 100%;
	margin: 0 -10px;
}

.social {
	margin: 30px auto;
}

.center-block {
	width:325px;
	padding:10px;
	background-color:#eceadc;
	color:#ec8007
}

#navbar {
	padding-top: 15px;
}

.navbar {
	margin-bottom: 0px;
}
.navbar-header {
	height: 84px;
}
.navbar-nav {
	text-align: center;
	height: 100%;
	padding: 0px 25px;
}
.navbar-brand {
	height: 85px;
	padding: 0px 15px;
}
.navbar-brand img, .navbar-header {
	height: 100%;
}
.navbar-collapse {
	height: 84px;
}
.navbar-collapse, .navbar-collapse li {
	height: 100%;
}

.callus .col-lg-8 {
	font-size: 1.5em;
	padding: 15px;
}
.expertise ul {
	margin: 0px 15px;
	font-size: 1.2em;
}
.expertise {
	padding-bottom: 15px;
}

.aboutus {
	padding: 15px;
	font-size: 1.2em;
}
.aboutus table {
	margin: auto;
}
.aboutus td, th {
	padding: 0px 5px;
	text-align: center;
}

td {
	padding: 4px 10px;
	border-bottom: 1px solid;
}

blockquote {
	font-size: 1.1em;
	background-color: rgb(0 0 0 / 10%);
}

.spoiler > div {
	opacity: 0;
	transition: opacity 0.5s;
}
.spoiler:hover > div {
	opacity: 1
}
.spoiler {
	display: grid;
	overflow: hidden;
	border: 1px solid #684895;
}
.spoiler:hover, .spoiler-show {
	border: 1px solid rgba(255,255,255,0);
}
.spoiler:after {/* draw the watermark at screen*/
	color: rgba(1, 1, 1, 0.4);
	content: 'spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler spoiler';
	word-spacing: 3em;
	transform: rotate(-30deg);
	filter:
		drop-shadow(-1.5em 3em 0px #fff)
		drop-shadow(-3em 6em 0px #fff)
		drop-shadow(-6em 12em 0px #fff)
		drop-shadow(-12em 24em 0px #fff)
		drop-shadow(-24em 48em 0px #fff)
		drop-shadow(47em -93em 0px #fff)
	;
	height: 0px;
	white-space: nowrap;
	margin-left: -200px;
}
.spoiler:hover:after {/* draw the watermark at screen*/
	content: '';
}


@font-face {
	font-family: 'si';
	src: url('../font/socicon.eot');
	src: url('../font/socicon.eot?#iefix') format('embedded-opentype'),
		 url('../font/socicon.woff') format('woff'),
		 url('../font/socicon.ttf') format('truetype'),
		 url('../font/socicon.svg#icomoonregular') format('svg');
	font-weight: normal;
	font-style: normal;

}


/* http://perfecticons.com/ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:si;
		src: url(../font/socicon.svg) format(svg);
	}
}

.soc {
	overflow:hidden;
	margin:0; padding:0;
	list-style:none;
	text-align:center;
}

.soc li {
	display:inline-block;
	*display:inline;
	zoom:1;
}

.soc li a {
	font-family:si!important;
	font-style:normal;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	overflow:hidden;
	text-decoration:none;
	text-align:center;
	display:block;
	position: relative;
	z-index: 1;
	width: 47px;
	height: 47px;
	line-height: 47px;
	font-size: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-right: 10px;
	color: #ffffff;
	background-color: none;
}


.soc-icon-last{
	margin:0 !important;
}

.soc-twitter {
	background-color: #4da7de;
}
.soc-twitter:before {
	content:'\e040';
}
.soc-instagram {
	background-color: #405de6;
}
.soc-instagram:before {
	content:'\e057';
}
.soc-tumblr {
	background-color: #45556c;
}
.soc-tumblr:before {
	content:'\e059';
}
.soc-facebook {
	background-color: #3e5b98;
}
.soc-facebook:before {
	content:'\e041';
}
.soc-github {
	background-color: #221e1b;
}
.soc-github:before {
	content:'\e030';
}
.soc-stackexchange {
	background-color: #2f2f2f;
}
.soc-stackexchange:before {
	content:'\e077';
}

.post-list {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.post-list > li {
	margin-bottom: 30px;
}

.post-list h3 {
	margin: 0px 0px 10px;
}
.post-meta {
	color: #777;
	padding-bottom: 15px;
}

.post-categories, .post-tags {
	display: inline;
}

.post-categories li, .post-tags li {
	display: inline;
	margin-right: 15px;
}

.post-categories::after {
	content: "\2192";
}

.previous-next-post-links {
	display: flex;
	flex-direction: row;
	padding-bottom: 1rem;
}

.previous-next-post-links div {
	width: 48%;
}

.previous-next-post-links div:last-child {
	text-align: right;
}

.previous-next-post-links .arrow::before, .previous-next-post-links .arrow::after {
	display:inline-block;
	text-decoration: none;
}

.previous-next-post-links .arrow__left::before {
	content: "\2190";
	padding-right: .3em;
}

.previous-next-post-links .arrow__right::after {
	content: "\2192";
	padding-left: .3em;
}

.nav-label {
	text-align: center;
	font-weight: bold;
}

article.container, main.page-content {
	padding-botom: 2rem;
}

.post-series {
	border: 3px solid #63154738;
	margin: 15px;
	padding: 8px;
	border-radius: 5px;
}

.post-series p:first-child {
	text-align: center;
}
